body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d40808;
}
.concat {
    background: #eee;
    transition: 3s;
    height: fit-content;
    animation: gradientAnimation 5s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

section {
    position: relative;
    height: 650px;
        background-image: url(img/2.png);
    background-size: 100% 650px;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
}
.logo{
    width: 300px;
    left: 40px;
    top: 50px;
    position: absolute;
}
section .content-color{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%; 
    gap: 5px 10px;
    bottom: 15px;
}

.content-color .a-1 {
    width: 60px;
    height: 60px;
    background-color: #d40808;
    z-index: 4;
    border-radius:  4px ;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 13px;
}
.content-color .a-1:nth-child(2){
    background-color: #222;
}
.content-color .a-1:nth-child(3){
    background-color: #a5d823;
}
.content-color .a-1:nth-child(4){
    background-color: #220cca;
}
.content-color .a-1:nth-child(5){
    background-color: #d40968;
}
.content-color .a-1:nth-child(6){
    background-color: #38d508;
}
.content-color .a-1:nth-child(7){
    background-color: #5d5f09;
}
.content-color .a-1:nth-child(8){
    background-color: #02cde8;
}
.content-color .a-1:nth-child(9){
    background-color: #005693;
}
.content-color .a-1:hover{
    transform: scale(1.1);
    opacity: 0.9;
}

.img-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 3;
    width: 200px;
    height: 30%;
    animation: up-down 2s infinite alternate;
    transition: 1s;
    display: none;
}
@keyframes up-down {
    0%,to{
        margin-top:-70px;
        rotate: 0deg;
    }
    25%{
        margin-top: 0px;
        rotate: 50deg;   
    }
    50%{
        margin-top: 30px;
        rotate: 40deg;    
    }
    75%{
        margin-top: 50px;
        rotate: 60deg;      
    }
    100%{
        margin-top: 0px;
        rotate: -40deg;     
    }

}


@media (max-width: 900px) {
    .concat {
        animation: anotherAnimation 3s infinite;
    }
    section {
        background-size: 100% cover;
        background-position:  center center ;
        background-repeat: no-repeat;  
    }
    .logo{
        width: 250px;
        left: 40px;
        top: 50px;
        position: absolute;
    }
    .logo{
        width: 200px;
        left: 40px;
        top: 50px;
        position: absolute;
    }
    .img-2{
        width: 140px !important;
        height: 140px;
    }
    @keyframes up-down {
        0%,to{
            margin-top:-90px;
            rotate: 0deg;
        }
        25%{
            margin-top: 0px;
            rotate: 30deg;   
        }
        50%{
            margin-top: -30px;
            rotate: 10deg;    
        }
        75%{
            margin-top: 50px;
            rotate: 30deg;      
        }
        100%{
            margin-top: 0px;
            rotate: -40deg;     
        }
    }
}
}

@media (max-width: 741px){
    section {
        background-size: cover ; 
        background-position:  center center ;
        background-repeat: no-repeat;   
    }
    .content-color .a-1 {
        width: 35px;
        height: 35px;
        font-size: 5px;
    }
    .logo{
        width: 200px;
        left: 40px;
        top: 50px;
        position: absolute;
    }
    .img-2{
        width: 120px !important;
        height: 120px;
    }
    @keyframes up-down {
        0%,to{
            margin-top:-90px;
            rotate: 0deg;
        }
        25%{
            margin-top: 0px;
            rotate: 30deg;   
        }
        50%{
            margin-top: -30px;
            rotate: 10deg;    
        }
        75%{
            margin-top: 50px;
            rotate: 30deg;      
        }
        100%{
            margin-top: 0px;
            rotate: -40deg;     
        }
    }
}
@media (max-width: 570px){
    section {
        background-size: auto 100% ;  
        background-position: -170px ;
        background-repeat: no-repeat;   
    }
    .content-color .a-1 {
        width: 35px;
        height: 35px;
        font-size: 5px;
    }
    .logo{
        width: 150px;
        left: 40px;
        top: 50px;
        position: absolute;
    }
    .img-2{
        width: 90px !important;
        height: 90px;
        top: 50%;
        left: 75%;
        transform: translate(-50% , -50%);
    }
    @keyframes up-down {
        0%,to{
            margin-top:-90px;
            rotate: 0deg;
        }
        25%{
            margin-top: -50px;
            rotate: 30deg;   
        }
        50%{
            margin-top: -30px;
            rotate: 10deg;    
        }
        75%{
            margin-top: 20px;
            rotate: 30deg;      
        }
        100%{
            margin-top: 70px;
            rotate: -40deg;     
        }
    }
}
